
<style type="text/css">
#wrap {
   width:1000px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:500px;
}
#right_col {
   float:right;
   width:500px;
}
</style>

<div id="wrap">
    <div id="left_col">
<form method="POST" action=".">
<textarea rows="50" cols="50" name="fooput">
{% if text %}{{ text }}{% endif %}
</textarea><br><br>
<input type="submit" name="ask" value="Ask me!">
<input type="submit" name="load" value="Load example"><br><br>
{% if true_answer %}
    The real answer is "{{ true_answer }}"
    {% endif %}<br>
{% if answer %}
    The model answered "{{ answer }}"
{% endif %}
</form>
    </div>
    <div id="right_col">
        <b>Attention values</b>:

{{ data | safe}}
    </div>
</div>
